.backend {
    position: fixed;
    width: 100%;
    height: calc(100% - 20px);

    background: rgb(9,9,9);
    background: -moz-linear-gradient(76deg, rgba(9,9,9,1) 0%, rgba(51,53,54,1) 100%);
    background: -webkit-linear-gradient(76deg, rgba(9,9,9,1) 0%, rgba(51,53,54,1) 100%);
    background: linear-gradient(76deg, rgba(9,9,9,1) 0%, rgba(51,53,54,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#090909",endColorstr="#333536",GradientType=1);

    -webkit-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);


    z-index: 1000000000000;
}

.backendhandle {
    position: fixed;
    width: 200px;
    height: 20px;

    border-radius: 0px 0px 10px 10px;

    background: rgb(9,9,9);
    background: -moz-linear-gradient(76deg, #181819 0%, #1D1E1F 100%);
    background: -webkit-linear-gradient(76deg, #181819 0%, #1D1E1F 100%);
    background: linear-gradient(76deg, #181819 0%, #1D1E1F 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#181819",endColorstr="#1D1E1F",GradientType=1);

    -webkit-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);

    z-index: 1000000000000;

    cursor: pointer;
}

.backendhandle:hover {
    opacity: 0.8;

    background: rgb(88, 88, 88);
    background: -moz-linear-gradient(76deg, #48484b 0%, #595b5e 100%);
    background: -webkit-linear-gradient(76deg, #48484b 0%, #595b5e 100%);
    background: linear-gradient(76deg, #48484b 0%, #595b5e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#48484b",endColorstr="#595b5e",GradientType=1);
}

.backendbar {
    position: relative;
    width: 90%;
    height: 3px;
    background-color: #AAAAAA;

    border-radius: 7px 7px 7px 7px;

    top: calc(50% - 1.5px);
    left: 5%;
}

.backend_up {
    top: calc(20px - 100%);
    left: 0%;

    transition: all 1s;
}

.backend_down {
    top: 0%;
    left: 0%;

    transition: all 1s;
}

.backendhandle_up {
    top: 0px;
    left: calc(50% - 100px);

    transition: all 1s;
}

.backendhandle_down {
    top: calc(100% - 20px);
    left: calc(50% - 100px);

    transition: all 1s;
}

.backendelem {
    font-family: sans-serif;
    color: white;
}

.backendtitle {
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}
.backendmain {
    background: radial-gradient(ellipse at center top, #2196f3 0%, #2196f300 70%), radial-gradient(ellipse at center bottom, #2196f3 0%, #2196f300 70%) 0 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100% 10px, 100% 10px, 100% 10px, 100% 10px;
    background-attachment: scroll;
    overflow-y: scroll;
    position: relative;
    height: calc(100% - 150px);
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
}

.backendline {
    display: flex;
    font-weight: 100 !important;
    margin-bottom: 2px;
}

.backendlabel {
    text-align: right;
    width: calc(50% - 40px);
    margin-right: 20px;
}

.backendinput {
    width: 150px;
    transition: all 0.5s;
}

.backendupdated {
    background-color: #0163e4;
    transition: all 0.3s;
}

.backendlabel:hover::after, .backendinput:hover::after, .backendwidget:hover::after {
    position: fixed;
    top: 0%;
    right: 0%;
    padding: 20px;
    content: attr(tooltip);
    background-color: #000000;
    border-radius: 0px 0px 0px 20px;
    color: white;
}

/* .backend {
    position: fixed;
    width: 100%;
    height: calc(100% - 20px);

    background: rgb(9,9,9);
    background: -moz-linear-gradient(76deg, rgba(9,9,9,1) 0%, rgba(51,53,54,1) 100%);
    background: -webkit-linear-gradient(76deg, rgba(9,9,9,1) 0%, rgba(51,53,54,1) 100%);
    background: linear-gradient(76deg, rgba(9,9,9,1) 0%, rgba(51,53,54,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#090909",endColorstr="#333536",GradientType=1);

    -webkit-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);


    z-index: 1000000000000;
}

.backendhandle {
    position: fixed;
    width: 200px;
    height: 20px;

    border-radius: 0px 0px 10px 10px;

    background: rgb(9,9,9);
    background: -moz-linear-gradient(76deg, #181819 0%, #1D1E1F 100%);
    background: -webkit-linear-gradient(76deg, #181819 0%, #1D1E1F 100%);
    background: linear-gradient(76deg, #181819 0%, #1D1E1F 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#181819",endColorstr="#1D1E1F",GradientType=1);

    -webkit-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);

    z-index: 1000000000000;

    cursor: pointer;
}

.backendhandle:hover {
    opacity: 0.8;

    background: rgb(88, 88, 88);
    background: -moz-linear-gradient(76deg, #48484b 0%, #595b5e 100%);
    background: -webkit-linear-gradient(76deg, #48484b 0%, #595b5e 100%);
    background: linear-gradient(76deg, #48484b 0%, #595b5e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#48484b",endColorstr="#595b5e",GradientType=1);
}

.backendbar {
    position: relative;
    width: 90%;
    height: 3px;
    background-color: #AAAAAA;

    border-radius: 7px 7px 7px 7px;

    top: calc(50% - 1.5px);
    left: 5%;
}

.backend_up {
    top: calc(20px - 100%);
    left: 0%;

    transition: all 1s;
}

.backend_down {
    top: 0%;
    left: 0%;

    transition: all 1s;
}

.backendhandle_up {
    top: 0px;
    left: calc(50% - 100px);

    transition: all 1s;
}

.backendhandle_down {
    top: calc(100% - 20px);
    left: calc(50% - 100px);

    transition: all 1s;
}

.backendelem {
    font-family: sans-serif;
    color: white;
}

.backendtitle {
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}
.backendmain {
    background: radial-gradient(ellipse at center top, #2196f3 0%, #2196f300 70%), radial-gradient(ellipse at center bottom, #2196f3 0%, #2196f300 70%) 0 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100% 10px, 100% 10px, 100% 14px, 100% 14px;
    background-attachment: scroll;
    overflow-y: scroll;
    position: relative;
    height: calc(100% - 150px);
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
}

.backendline {
    display: flex;
    font-weight: 100 !important;
    margin-bottom: 2px;
}

.backendlabel {
    text-align: right;
    width: calc(50% - 40px);
    margin-right: 20px;
}

.backendinput {
    width: 150px;
    transition: all 0.5s;
}

.backendupdated {
    background-color: #0163e4;
    transition: all 0.3s;
} */