body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: grey;
}

#canvas {
    position: fixed;
    top: 5%;
    left: 5%;
    width: calc(90% - 400px);
    height: 90%;
    border: solid black 1px;

    background-color: rgb(46, 46, 46);
}

#infos {
    position: fixed;
    top: 0%;
    right: 0%;
    width: 400px;
    height: 100%;
    background-color: rgb(46, 46, 46);
    color: white;
    text-align: left;
    display: block;
}

.ui-elem {
    padding: 10px;
}

#logs {
    overflow-y: scroll;
    height: 50%;
}

.spaceup {
    margin-top: 5px;
    width: 100%;
    margin: 10px;
}

.hackblock {
    width: calc(100% - 55px);
}

.title {
    border-left: 5px solid #2196f3;
    border-bottom: 2px solid #2196f3;
    padding-left: 10px;
    margin-bottom: 10px;
}

.subtitle {
    margin: 20px;
    border-left: 5px solid #e91e63;
    padding-left: 10px;
    margin-top: 40px;
}